<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Manifests>
    <Manifest>Microsoft.LightSwitch.Base.Client.Manifest.xml</Manifest>
    <Manifest>Microsoft.LightSwitch.Client.Internal.Manifest.xml</Manifest>
    <Manifest>Microsoft.LightSwitch.Model.Xaml.Client.Manifest.xml</Manifest>
  </Manifests>
  <SubsystemPackages>
    <SubsystemPackage>ModelLoader</SubsystemPackage>
    <SubsystemPackage>RuntimeExtensionLoader</SubsystemPackage>
    <SubsystemPackage>PresentationRuntimeLoader</SubsystemPackage>
    <SubsystemPackage>ReportingLoader</SubsystemPackage>
    <SubsystemPackage>RulesLoader</SubsystemPackage>
    <SubsystemPackage>RuntimeServicesLoader</SubsystemPackage>
    <SubsystemPackage>RuntimeShellLoader</SubsystemPackage>
    <SubsystemPackage>ThemingRuntimeLoader</SubsystemPackage>
    <SubsystemPackage>UtilitiesLoader</SubsystemPackage>
    <SubsystemPackage>BaseServicesLoader</SubsystemPackage>
    <SubsystemPackage>DiagnosticsLoader</SubsystemPackage>
    <SubsystemPackage>RuntimeUserCodeLoader</SubsystemPackage>
  </SubsystemPackages>
  <UserCodeAssemblies></UserCodeAssemblies>
  <ExtensionAssemblies>
    <ExtensionAssembly>Microsoft.LightSwitch.SdkProxy, Version=10.0.11.3, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>Microsoft.LightSwitch.Cosmopolitan.Client, Version=11.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>ChartControlExtension.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>ChartControlExtension.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>System.Windows.Controls.DataVisualization.Toolkit, Version=4.0.5.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>System.Windows.Controls.Toolkit, Version=4.0.5.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>System.Windows.Controls.Toolkit.Internals, Version=4.0.5.0, Culture=neutral, PublicKeyToken=2C5C654D367BF4A7</ExtensionAssembly>
    <ExtensionAssembly>ElylsExtensions.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>ElylsExtensions.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>Liquid.RichText, Version=5.2.7.15116, Culture=neutral, PublicKeyToken=7FBDD25C3FCC3919</ExtensionAssembly>
    <ExtensionAssembly>Liquid, Version=5.2.7.15946, Culture=neutral, PublicKeyToken=7FBDD25C3FCC3919</ExtensionAssembly>
    <ExtensionAssembly>Microsoft.LightSwitch.Extensions.Client, Version=11.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>System.Xml.Serialization, Version=5.0.5.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>System.ServiceModel.DomainServices.Client.Web, Version=2.0.5.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>ManyToManyControls.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>ManyToManyControls.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>MetroThemeExtension.Client, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>MetroThemeExtension.Common, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>PaulozziCo.MetroShell.Client, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>PaulozziCo.MetroShell.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>System.Windows.Interactivity, Version=5.0.5.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>ExtensionsMadeEasy.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>ExtensionsMadeEasy.ClientAPI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>ExtensionsMadeEasy.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>OfficeIntegration.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>OfficeIntegration.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
  </ExtensionAssemblies>
</Configuration>